.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.overlay button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  padding: 10px 60px;
  cursor: pointer;
}

.overlay button:hover {
  background: white;
  color: black;
  transition: all 0.3s;
}


.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid rgb(42, 22, 255); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation:  
	typing 3.5s steps(40, end),
	blink-caret .75s step-end infinite
	;
	animation-delay: 5s;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: rgb(42, 22, 255); }
  }